In [61]:
import pandas as pd
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap
from plotnine.data import mtcars
import plotnine as p9
import matplotlib.pyplot as plt

In [62]:
Athlete = pd.read_csv("olympic_athletes.csv")
Hote = pd.read_csv("olympic_hosts.csv")
Medaille = pd.read_csv("olympic_medals.csv")
Resultat =  pd.read_csv("olympic_results.csv")

In [63]:
Athlete

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN
...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0,NaN,\n\n\nKent Weigle competed in ice dancing with...
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0,NaN,\n\n\nStefania Bertele had the following place...
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0,NaN,\n\n\nWalter Cecconi had the following placeme...
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0,NaN,\n\n\nSusie Kelley competed in ice dancing wit...
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0,NaN,\n\n\nAndrew Stroukoff competed in ice dancing...

In [64]:
HoteS = Hote[Hote.game_season == "Summer"]
HoteS

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004
11,sydney-2000,2000-10-01T09:00:00Z,2000-09-15T01:00:00Z,Australia,Sydney 2000,Summer,2000
13,atlanta-1996,1996-08-05T21:00:00Z,1996-07-19T12:00:00Z,United States,Atlanta 1996,Summer,1996
15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984
21,moscow-1980,1980-08-03T18:00:00Z,1980-07-19T05:00:00Z,USSR,Moscow 1980,Summer,1980
23,montreal-1976,1976-07-31T22:00:00Z,1976-07-17T12:00:00Z,Canada,Montreal 1976,Summer,1976
25,munich-1972,1972-09-11T19:00:00Z,1972-08-26T07:00:00Z,Federal Republic of Germany,Munich 1972,Summer,1972
27,mexico-city-1968,1968-10-28T04:00:00Z,1968-10-12T16:00:00Z,Mexico,Mexico City 1968,Summer,1968
29,tokyo-1964,1964-10-24T11:00:00Z,1964-10-09T23:00:00Z,Japan,Tokyo 1964,Summer,1964
31,rome-1960,1960-09-11T19:00:00Z,1960-08-25T07:00:00Z,Italy,Rome 1960,Summer,1960
33,melbourne-1956,1956-12-08T10:00:00Z,1956-11-21T22:00:00Z,"Australia, Sweden",Melbourne 1956,Summer,1956
35,helsinki-1952,1952-08-03T07:00:00Z,1952-07-19T07:00:00Z,Finland,Helsinki 1952,Summer,1952
37,london-1948,1948-08-14T19:00:00Z,1948-07-29T07:00:00Z,Great Britain,London 1948,Summer,1948
39,berlin-1936,1936-08-16T19:00:00Z,1936-08-01T07:00:00Z,Germany,Berlin 1936,Summer,1936
41,los-angeles-1932,1932-08-14T19:00:00Z,1932-07-30T16:00:00Z,United States,Los Angeles 1932,Summer,1932
43,amsterdam-1928,1928-08-12T19:00:00Z,1928-05-17T07:00:00Z,Netherlands,Amsterdam 1928,Summer,1928
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
47,antwerp-1920,1920-09-12T19:00:00Z,1920-04-20T07:00:00Z,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27T20:00:00Z,1912-05-05T08:00:00Z,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31T20:09:00Z,1908-04-27T08:00:00Z,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24T02:00:00Z,1904-07-01T14:00:00Z,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [65]:
Medaille_DE = Medaille[(Medaille["country_3_letter_code"] == "GER") | (Medaille["country_3_letter_code"] == "FRG")]
Medaille_DE

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
35,Freestyle Skiing,beijing-2022,Women's Ski Cross,Women,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/daniela-maier,Daniela MAIER,Germany,DE,GER
116,Ski Jumping,beijing-2022,Men's Team,Men,BRONZE,GameTeam,Germany,NaN,NaN,Germany,DE,GER
119,Ski Jumping,beijing-2022,Men's LH Individual,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/geiger,Karl GEIGER,Germany,DE,GER
123,Ski Jumping,beijing-2022,Women's NH Individual,Women,SILVER,Athlete,NaN,https://olympics.com/en/athletes/katharina-alt...,Katharina ALTHAUS,Germany,DE,GER
151,Luge,beijing-2022,Team Relay,Mixed,GOLD,GameTeam,Germany,NaN,NaN,Germany,DE,GER
...,...,...,...,...,...,...,...,...,...,...,...,...
21630,Gymnastics Artistic,athens-1896,team parallel bars men,Men,GOLD,GameTeam,Germany team,NaN,NaN,Germany,DE,GER
21634,Gymnastics Artistic,athens-1896,team horizontal bar men,Men,GOLD,GameTeam,Germany team,NaN,NaN,Germany,DE,GER
21636,Gymnastics Artistic,athens-1896,pommel horse men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/hermann-weing...,Hermann WEINGÃ„RTNER,Germany,DE,GER
21651,Cycling Road,athens-1896,individual road race men,Men,SILVER,Athlete,NaN,NaN,Anton GÃ¶drich,Germany,DE,GER
21688,Wrestling,athens-1896,"Unlimited Class, Greco-Roman Men",Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/carl-schumann,Carl SCHUHMANN,Germany,DE,GER

In [66]:
Resultat_DE = Resultat[(Resultat["country_3_letter_code"] == "GER") | (Resultat["country_3_letter_code"] == "FRG") ]
Resultat_DE

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
119,Freestyle Skiing,Men's Ski Cross,beijing-2022,Athlete,NaN,NaN,False,32,Germany,DE,GER,https://olympics.com/en/athletes/niklas-bachsl...,Niklas BACHSLEITNER,NaN,NaN
143,Freestyle Skiing,Men's Ski Cross,beijing-2022,Athlete,NaN,NaN,False,21,Germany,DE,GER,https://olympics.com/en/athletes/florian-wilms...,Florian WILMSMANN,NaN,NaN
144,Freestyle Skiing,Men's Ski Cross,beijing-2022,Athlete,NaN,NaN,False,23,Germany,DE,GER,https://olympics.com/en/athletes/tobias-mueller-1,Tobias MUELLER,NaN,NaN
145,Freestyle Skiing,Men's Ski Cross,beijing-2022,Athlete,NaN,NaN,False,14,Germany,DE,GER,https://olympics.com/en/athletes/daniel-bohnacker,Daniel BOHNACKER,NaN,NaN
170,Freestyle Skiing,Women's Freeski Big Air,beijing-2022,Athlete,NaN,NaN,False,18,Germany,DE,GER,https://olympics.com/en/athletes/alia-delia-ei...,Alia Delia EICHINGER,64.75,POINTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162639,Alpine Skiing,slalom men,lake-placid-1980,Athlete,NaN,NaN,NaN,25,Federal Republic of Germany,DE,FRG,https://olympics.com/en/athletes/josef-ferstl,Josef FERSTL,119300,TIME
162693,Alpine Skiing,slalom men,lake-placid-1980,Athlete,NaN,NaN,NaN,DSQ,Federal Republic of Germany,DE,FRG,https://olympics.com/en/athletes/albert-burger,Albert BURGER,NaN,IRM
162698,Equestrian Jumping,Jumping Individual mixed,montreal-1976,Athlete,GOLD,NaN,NaN,1,Federal Republic of Germany,DE,FRG,https://olympics.com/en/athletes/alwin-schocke...,Alwin SCHOCKEMÃ–HLE,0.00,POINTS
162708,Equestrian Jumping,Jumping Individual mixed,montreal-1976,Athlete,NaN,NaN,True,10,Federal Republic of Germany,DE,FRG,https://olympics.com/en/athletes/hans-gunter-w...,Hans GÃ¼nter WINKLER,16.00,POINTS
162733,Equestrian Jumping,Jumping Individual mixed,montreal-1976,Athlete,NaN,NaN,NaN,36,Federal Republic of Germany,DE,FRG,https://olympics.com/en/athletes/paul-schockem...,Paul SCHOCKEMÃ–HLE,NaN,NaN

Gra = (p9.ggplot(data=Resultat_DE, mapping=p9.aes(y='slug_game', x='medal_type')))
Gra + p9.geom_line()+ p9.theme(axis_text_x = p9.element_text(angle=90))

In [78]:
Athlete_N

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,athlete_full_name,value_unit,value_type,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
12,Diving,Men's Synchronised 3m Springboard,tokyo-2020,GameTeam,BRONZE,"[('Patrick HAUSDING', 'https://olympics.com/en...",False,3,Germany,DE,...,NaN,404.73,POINTS,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
13,Diving,Women's Synchronised 3m Springboard,tokyo-2020,GameTeam,BRONZE,"[('Lena HENTSCHEL', 'https://olympics.com/en/a...",False,3,Germany,DE,...,NaN,284.97,POINTS,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
24,Canoe Sprint,Men's Canoe Double 1000m,tokyo-2020,GameTeam,BRONZE,"[('Sebastian BRENDEL', 'https://olympics.com/e...",False,3,Germany,DE,...,NaN,NaN,NaN,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
25,Canoe Sprint,Men's Kayak Four 500m,tokyo-2020,GameTeam,GOLD,NaN,False,1,Germany,DE,...,NaN,NaN,NaN,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
26,Canoe Sprint,Men's Kayak Double 1000m,tokyo-2020,GameTeam,SILVER,"[('Max HOFF', 'https://olympics.com/en/athlete...",False,2,Germany,DE,...,NaN,NaN,NaN,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,Gymnastics Artistic,team parallel bars men,athens-1896,GameTeam,GOLD,NaN,NaN,1,Germany,DE,...,NaN,NaN,POINTS,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
4931,Gymnastics Artistic,team horizontal bar men,athens-1896,GameTeam,GOLD,NaN,NaN,1,Germany,DE,...,NaN,NaN,POINTS,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
4932,Gymnastics Artistic,pommel horse men,athens-1896,Athlete,SILVER,NaN,NaN,2,Germany,DE,...,Hermann WEINGÃ„RTNER,NaN,POINTS,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
4951,Cycling Road,individual road race men,athens-1896,Athlete,SILVER,NaN,NaN,2,Germany,DE,...,Anton GÃ¶drich,12674000,TIME,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
4953,Wrestling,"Unlimited Class, Greco-Roman Men",athens-1896,Athlete,GOLD,NaN,NaN,1,Germany,DE,...,Carl SCHUHMANN,NaN,NaN,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

Athlete_N = Resultat_DE[Resultat_DE['participant_type']=='Athlete']
(
    p9.ggplot(data = Athlete_N, mapping=p9.aes(x="slug_game",y='participant_type'))
    +p9.geom_line()
)(
    p9.ggplot(data = test, mapping=p9.aes(x="index",y='slug_game'))
    +p9.geom_line()
)

test = pd.DataFrame(Athlete_N.slug_game.value_counts())
test.reset_index(inplace = True)
print(test.split("-"))

In [79]:
GenreH = Medaille_DE[Medaille_DE['event_gender']=='Men']
Genre.shape

(446, 12)

In [80]:
GenreF = Medaille_DE[Medaille_DE['event_gender']=='Women']
Genre.shape

(446, 12)

In [81]:
#Genders by Games
games = list(HoteS[HoteS['game_season'] == 'Summer']['game_slug'].unique())
#games.sort()
Hommes = []
Femmes = []
for i in games:
    m = Medaille[Medaille['slug_game'] == i]
    Homme = len(m[m.event_gender == 'Men'])
    Hommes.append(Homme)
    Femme = len(m[m.event_gender == 'Women'])
    Femmes.append(Femme)
    

# visualization
+ p9.geom_bar(x=Homme,y=Femmes,color='Fuchsia',alpha = 0.8)
p9.geom_bar(x=Femmes,y=games,color='Red',alpha = 0.8)
ax1.legend(loc='lower right',frameon = False)
ax1.set(xlabel='Gender', ylabel='Games',title = "Summer Olympic Games")

#plt.show()

TypeError: bad operand type for unary +: 'geom_bar'

In [69]:


data = pd.merge(Resultat_DE, HoteS, left_on="slug_game", right_on="game_slug", how = "inner")

Athlete_N = data[~data.medal_type.isnull()]
data_medals

total_medals = []
year = []

for i in range(0,len(hosts_summer)*4+12,4):
    total_medals.append(len(data_medals[data_medals.game_year == (2020 - i)]))
    year.append(2020-i)

df_medal_country = pd.DataFrame((zip(total_medals, year)), columns = ['Total_medals', 'Year'])

print(df_medal_country.head())

NameError: name 'data_medals' is not defined